body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll; /* 确保页面可以垂直滚动 */
}

.container {
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%; /* 可根据需要调整表格宽度 */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #8a5300;
}
