/* Custom Scrollbar Styles for Chrome and Edge */
::-webkit-scrollbar {
    width: 10px; /* 滾動條的寬度 */
}

::-webkit-scrollbar-track {
    background: #111820; /* 滾動條背景 */
}

::-webkit-scrollbar-thumb {
    background: #496773; /* 滾動塊顏色 */
    border-radius: 8px; /* 使滾動條更圓滑 */
    border: 2px solid #111820; /* 增加滾動塊的內邊距 */
}

::-webkit-scrollbar-thumb:hover {
    background: #57d1c3; /* 當鼠標懸停時滾動條的顏色 */
}

::-webkit-scrollbar-thumb:active {
    background: #8ce8df; /* 當點擊時滾動條的顏色 */
}
